<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}{% endblock %}</title>

    {#设置了css模块#}
    {% block css %}
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
      <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
    {% endblock %}


  </head>
  <body>
    <nav class="navbar navbar-inverse">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Jobplus</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class=""><a href="#">职位 <span class="sr-only">(current)</span></a></li>
            <li><a href="#">公司</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
          {% if True %}
            <li><a href="#">用户注册</a></li>
            <li><a href="#">企业注册</a></li>
            <li><a href="#">登录</a></li>
          {% else %}
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">用户名字<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">我的主页</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">退出登录</a></li>
              </ul>
            </li>
          {% endif %}
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    {% block body %}
    {% endblock %}

    {% block footer %}<footer>&copy; Copyright 2018 by <a href="http://www.shiyanlou.com/">shiyalou</a></footer>{% endblock %}

  </body>

  {# 设置了js 模块 #}
  {% block js %}
    <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{url_for('static', filename='main.js')}}"></script>
  {% endblock %}

</html>
